@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Akzidenz';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/akzidenz/AkzidenzGroteskPro-BoldEx.otf') format('opentype');
  }

  @font-face {
    font-family: 'Akzidenz';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/akzidenz/AkzidenzGroteskPro-Md.otf') format('opentype');
  }

  @font-face {
    font-family: 'Akzidenz';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/akzidenz/AkzidenzGroteskPro-Regular.otf')
      format('opentype');
  }

  html {
    font-family: 'Akzidenz', 'Arial', sans-serif;
  }
}

@layer components {
  #app {
    @apply h-screen pt-16 flex flex-col justify-center items-center gap-y-10 dark:text-white dark:bg-zinc-800;
  }

  .logo {
    @apply text-2xl sm:text-4xl md:text-5xl font-bold;
  }

  .logo-sm {
    @apply text-xl;
  }

  .button-primary {
    @apply bg-slate-200 dark:bg-indigo-500 enabled:hover:bg-slate-300 enabled:dark:hover:bg-indigo-600 rounded-md font-medium px-5 py-2 disabled:opacity-20 disabled:cursor-not-allowed;
  }

  .button-secondary {
    @apply px-2 py-1 mt-4 border border-black rounded-md hover:bg-slate-100 dark:border-white dark:hover:bg-zinc-600;
  }

  .placeholders-wrapper {
    @apply flex gap-x-7;
  }

  .letter {
    @apply text-3xl font-medium;
  }

  .lifeСounter {
    @apply mt-2;
  }

  .tries-left {
    @apply font-medium text-red-600;
  }

  .keyboard {
    @apply flex justify-center flex-wrap gap-5 max-w-2xl mt-10;
  }

  .keyboard-button {
    @apply grid place-content-center w-10 h-10 sm:w-14 sm:h-14;
  }

  .picture-wrapper {
    @apply relative w-80 sm:w-96 h-80 sm:h-96 bg-transparent;
  }

  .picture-wrapper > div {
    @apply absolute bg-red-600;
  }

  .picture-wrapper.win > div {
    @apply bg-lime-500;
  }

  .result-header {
    @apply text-2xl font-bold mt-4;
  }

  .result-header.win {
    @apply text-lime-500;
  }

  .result-header.lose {
    @apply text-red-500;
  }

  .result-word {
    @apply font-medium uppercase;
  }

  .floor {
    width: 80%;
    height: 5%;
    bottom: 5%;
    left: 50%;
    transform: translatex(-50%);
  }

  .pillar {
    width: 8%;
    height: 80%;
    bottom: 5%;
    left: 20%;
    transform: translatex(-50%);
  }

  .bracket {
    width: 50%;
    height: 5%;
    bottom: 75%;
    left: 40%;
    transform: translatex(-50%);
  }

  .rope {
    width: 1%;
    height: 10%;
    bottom: 65%;
    left: 60%;
    transform: translatex(-50%);
  }

  .picture-wrapper.win .rope {
    display: none;
  }

  .head {
    width: 15%;
    height: 15%;
    border-radius: 50%;
    bottom: 50%;
    left: 60%;
    transform: translatex(-50%);
  }

  .picture-wrapper.win .head {
    bottom: 40%;
    transform: translatex(-50%);
  }

  .body {
    width: 7%;
    height: 20%;
    bottom: 33%;
    left: 60%;
    transform: translatex(-50%);
  }

  .picture-wrapper.win .body {
    bottom: 23%;
  }

  .left-hand {
    width: 2%;
    height: 15%;
    left: 50%;
    bottom: 35%;
    transform: translatex(50%) rotate(45deg);
  }

  .picture-wrapper.win .left-hand {
    transform: translatex(50%) rotate(-45deg);
  }

  .right-hand {
    width: 2%;
    height: 15%;
    left: 68%;
    bottom: 35%;
    transform: translatex(-50%) rotate(-45deg);
  }

  .picture-wrapper.win .right-hand {
    transform: translatex(-50%) rotate(45deg);
  }

  .left-leg {
    width: 4%;
    height: 20%;
    left: 55%;
    bottom: 20%;
    transform: translatex(-50%) rotate(25deg);
  }

  .picture-wrapper.win .left-leg {
    bottom: 7%;
  }

  .right-leg {
    width: 4%;
    height: 20%;
    left: 65%;
    bottom: 20%;
    transform: translatex(-50%) rotate(-25deg);
  }

  .picture-wrapper.win .right-leg {
    bottom: 7%;
  }
}
